/*

Horizontal List

The basic `.list--x` module simply removes bullets from lists and inlines the list 
items, making the link `inline-block`. The idea is to give the skeleton of a 
horizontal list/navigation without adding too much style (yet).

*/

[class*="list--x"] {
    &:extend( .list--unstyled );

    li {
        display: inline;
    }
        a {
            display: inline-block;
        }
}

/*

Horizontal List (Forceful)

Rather than making the list `inline-block`, it floats the list elements 
(except on the smallest screen sizes, where it remains vertical). More precise
than the default Horizontal List.

*/

[class*="list--x--forceful"] {
    li,
    a {
        display: block;
    }
}

// Small screens and onward
@media @small-screens-min {
    [class*="list--x--forceful"] {

        // Mixins
        .clearfix();

        li {
            float: left;
        }
    }
}


/*

Link List

A basic extension of the Horizontal List, this adds some margin to the links in
the list for a more pleasant looking list of links.

**Note:** Because we are using the `[class*=""]` attribute selector, using the 
`.link-list--x` class takes advantage of the `list--x` module we declared 
earlier, as well as the Forceful variation (`.link-list--x--forceful`) 
without having to declare *both* `.list--x` and `.link-list--x` in our HTML.

````link-list
<ul class="link-list--x">
    <li>
        <a href="#">Basic Link</a>
    </li>
    <li>
        <a href="#">Basic Link</a>
    </li>
    <li>
        <a href="#">Basic Link</a>
    </li>
</ul>
````

*/

[class*="link-list--x"] {
    a {
        margin-right: @30px;
    }

    li:last-child {
        a {
            margin-right: 0;
        }
    }
}


/*

Pagination

An extension of the basic `.list--x` module that simply adds enough padding on
the links for pagination.

*/

.list--x--pgs {
    a {
        padding: 0 0.625em;

        &[href] {
            &:extend( .link all );
        }

        &,
        &:hover,
        &:focus {
            color: inherit;
        }
    }
}


/*

Breadcrumb

Another extension of the `.list--x` module, adding a breadcrumb `label` 
and floating it and the ordered list.

````breadcrumb
<nav class="breadcrumb" role="navigation">
    <ol class="breadcrumb__list--x">
        <li>
            <a href="#">Breadcrumb Link</a>
        </li>
        <li>
            <a href="#">Breadcrumb Link</a>
        </li>
        <li>
            <a>Breadcrumb Link</a>
        </li>
    </ol>
</nav>
````

*/

.breadcrumb {

    // Extends
    &:extend( .group );

    // Mixins
    .margin-leader();

    &__label {
        margin: 0 @half-side 0 0;
        float: left;
    }
    &__list--x {
        margin: 0;
        float: left;
    }
        li {
            margin-right: @half-side;
        }
}

/*

Button List

````button-list
<ul class="button-list--x">
    <li>
        <a class="btn--primary" href="#">Button</a>
    </li>
    <li>
        <a class="btn--primary is-current" href="#">Button</a>
    </li>
    <li>
        <a class="btn--primary" href="#">Button</a>
    </li>
</ul>
````

*/

[class*="button-list--x"] {
    margin-top: 0;
    overflow: hidden;

    li,
    a {
        display: block;
    }

    li {
        float: left;
    }

}
.horizontal-list {
    li {
        display: inline-block;
    }
}
.ordered-list {
    counter-reset: section;

    li {
        margin-left: @15px;
        &:first-child {
            margin: 0;
        }
        &:before {
            counter-increment: section;
            content: counter(section) ".";
            // &:extend(.standardct-medium);
            margin: 0 @5px 0 0;
            .lato-italic();
        }
    }
}
