html {
    background: lighten(desaturate(@purple-2, 10%), 5%);
    color: @purple;
}
.embed-extras {
    color: @white;

    legend b {
        display: block;
        padding: 20px 0;
        color: @white;
    }
    a {
        color: lighten(desaturate(@purple-2, 10%), 5%);
    }
    .radio-label b {
        -ms-word-break: break-all;
             word-break: break-all;

             // Non standard for webkit
             word-break: break-word;

        -webkit-hyphens: auto;
           -moz-hyphens: auto;
                hyphens: auto;
    }
}
template {
    .is-hidden();
}
.layer--white {
    background: lighten(@purple-2, 15%);
    padding: @60px 0;
    // margin-top: @60px;
}
.layer--light-purple {
    background: lighten(@purple-2, 11%);
    padding: @60px 0;
    // margin-top: @60px;
}
.main-header {
    background: lighten(@purple-2, 11%);
    padding: 30px 0;
}
.main-logo {
    max-width: 170px;
    // margin: 0 auto 0;
    &,
    img {
        display: block;
    }
}

[class*="btn"][disabled]:after {
    content: "";
    display: inline-block;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 2px solid fade( @white, 0.5 );
    border-left-color: @white;
    -webkit-animation: load8 0.75s infinite linear;
    animation: load8 0.75s infinite linear;
    background: none;
}
[class*="btn"][disabled]:after {
border-radius: 50%;
width: 16px;
height: 16px;
margin: 0 0 0 10px;
}
@-webkit-keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes load8 {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
.embed-code.loading,
.embed-preview.loading {
    opacity: 0.5;
}
.main-footer {
    // border-top: 1px solid @purple-2;
    // margin-top: 30px;
    padding: @60px 0;
    background: @purple;
    color: @white;

    a {
        color: @white;
        text-decoration: underline;
        .lato-regular();
    }
}
.layer {
    padding: @60px 0;
}
.prop__link {
    &:before {
        content: "";
        display: block;
        padding-top: 30%;

        background: transparent url("/images/link.svg") no-repeat center top;
        background-size: contain;
    }
}
.prop__time {
    &:before {
        content: "";
        display: block;
        padding-top: 30%;

        background: transparent url("/images/time.svg") no-repeat center top;
        background-size: contain;
    }
}
.prop__code {
    &:before {
        content: "";
        display: block;
        padding-top: 30%;

        background: transparent url("/images/input.svg") no-repeat center top;
        background-size: contain;
    }
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
    box-sizing: border-box;
}
.noUi-target {
    position: relative;
    direction: ltr;
    margin-bottom: 1px;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
.noUi-handle {
    position: relative;
    z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
    z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
    *z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 18px;
}
.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    left: -9px;
    top: 0;
}

/* Styling;
 */
.noUi-background {
    background: #d6d2f3;
}
.noUi-connect {
    background: darken(#6154B5, 15%);
-webkit-transition: background 450ms;
    transition: background 450ms;
}

/* Handles and cursors;
 */
.noUi-dragable {
    cursor: w-resize;
}
.noUi-handle {
    background: #fff;
    cursor: pointer;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}
[disabled] .noUi-handle {
    cursor: not-allowed;
}
