extends shell
block head
	title Qast
	link(href='styles/player/player.css', rel='stylesheet')
	include partials/inline.js

	script.
		window.Qast = window.Qast || {}
		window.Qast.config = !{object}
		loadCSS("//fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,400italic&text=#{encodedText}")

	link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="/images/apple-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="/images/apple-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="/images/apple-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-icon-180x180.png")
	link(rel="icon", type="image/png", sizes="192x192", href="/images/android-icon-192x192.png")
	link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon-96x96.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
	link(rel="manifest", href="/images/manifest.json")
	meta(name="msapplication-TileColor", content="#ebe9fb")
	meta(name="msapplication-TileImage", content="/images/ms-icon-144x144.png")
	meta(name="theme-color", content="#ebe9fb")

block body
	//if lt IE 9
		p
			a(href="#{url}#t=#{startText},#{endText}") Listen to this podcast clip (#{startText}-#{endText}).

	//[if gt IE 8]><!
	div#player.player
		if enclosure
			button.player__play(type="button", title="Play")
				b Play
		else
			button.player__play.loading(type="button", disabled, title="Loading...")
				b Loading...
		div.player__info
			h2.track__title(title="#{title}") #{title}

			div#player__controls.player__controls
				div.player__timeline__wrapper
					div.player__timeline
			audio(preload="none", controls, src=enclosure?"#{enclosure}#t=#{start},#{end}":"")
				a(href="#{enclosure}") Download this episode

			ul.track__details
				li.messaging
				li.player__time= lengthText
				li
					button.restart(title="Restart", type="button")
						b.is-hidden Restart
				li
					a.full-audio(href="#{url}#t=#{startText},#{endText}", title="Full Audio (This clip is #{startText}-#{endText})", target="_blank")
						b.is-hidden Full Audio
				if soundcloud
					li
						b.detail__label.soundcloud via SoundCloud
			a(href="https://#{domain}").qast-logo
					b.is-hidden Brought to you by Qast FM
			div.player__image
				a(href="#{url}#t=#{startText},#{endText}", title="Go to this podcast's page", target="_blank")
					img(src=image?"#{image}":"", data-og=ogimage?"#{ogimage}":"")
	script(async, defer, src="public/js/qast.js")

	//<![endif]