extends shell
block head
	title Qast
	link(rel="stylesheet", href="/styles/build/css/motif.css")
	link(rel="apple-touch-icon", sizes="57x57", href="/images/apple-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="/images/apple-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="/images/apple-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="/images/apple-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="/images/apple-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-icon-180x180.png")
	link(rel="icon", type="image/png", sizes="192x192", href="/images/android-icon-192x192.png")
	link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="96x96", href="/images/favicon-96x96.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
	link(rel="manifest", href="/images/manifest.json")
	meta(name="msapplication-TileColor", content="#ebe9fb")
	meta(name="msapplication-TileImage", content="/images/ms-icon-144x144.png")
	meta(name="theme-color", content="#ebe9fb")
	//- script(src="public/js/classes/template.js")
	block meta

	script.
		window.Qast = window.Qast || {}
		window.Qast.config = !{object}

block body


	// Global Header 
	header.main-header(role="banner")
		div.wrapper
			a.main-logo(href="/")
				img(src="/images/qast-logo.svg", title="Qast")

	// Begin Main Content 
	main.main-content(role="main")
		block content

	// Global Footer 
	footer.main-footer.align--center.lato-light(role="contentinfo")
		div.wrapper
			div.gl-half.gm-two-thirds.float--center
				p.mtn <strong>Qast</strong> is a better way to quote and share podcasts.
					span.new-line It enables clip sharing by leveraging built-in browser features while maintaining the integrity of the original podcast. 
				p.align--center.petite-text Created by <a href="http://twitter.com/pacheco">Jonathan Pacheco</a>. &copy;2015 Pixel Bodega
