extends foundation
block meta
    - var encodedUrl = encodeURIComponent(url)
    - var encodedFeed = encodeURIComponent(feed)
    meta(name="twitter:card", content="player")
    meta(name="twitter:site", content="@qastfm")
    meta(name="twitter:title", content="Qast of #{title}")
    meta(name="twitter:description", content="Clip from #{startText}-#{endText}.")
    meta(name="twitter:image", content="https://#{domain}/images/player-preview.png")
    meta(name="twitter:player", content!="https://#{domain}/embed?url=#{encodedUrl}&feed=#{encodedFeed}&src=#{src}&t=#{startText},#{endText}")
    meta(name="twitter:player:width", content="480")
    meta(name="twitter:player:height", content="80")
    meta(name="twitter:player:stream", content="#{enclosure}")
    meta(name="twitter:player:stream:content_type", content="audio/mp3")
block content

    div.layer
        div.wrapper
            div.gl-halves
                div
                    h1.inch-text.lato-light.mtn Share podcast snippets and conversations
                    p.tertia-text Drop podcast clips right into your content, but <em>only</em> the relevant bits. It's a better way to quote podcasts.

                    p: a.btn--primary(href="#create") Create a Qast
                div
                    div.mtl.ptl.phm
                        include partials/_frame

                    h3.petite-text.secondary-heading.mtm.align--center
                        if url === "http://serialpodcast.org/season-one/2/the-breakup" && startText === "01:14" && endText === "01:35"
                            | <em>Serial</em>’s intro
                        else if url === "http://nightvale.libsyn.com/1-pilot" && startText === "12:20" && endText === "15:11"
                            | The weather in Night Vale
                        else if url === "http://5by5.tv/hypercritical/18" && startText === "55:09" && endText === "1:03:25"
                            | John Siracusa talks toaster ovens on <em>Hypercritical</em>
                        else if url === "https://www.theincomparable.com/theincomparable/150/index.php" && startText === "52:22" && endText === "1:02:19"
                            | <em>The Incomparable</em>’s pièce de résistance of iTunes reviews

    div.layer--white
        div.wrapper
            div.float--center.gl-three-quarters
                h3.align--center.paragon-text.lato-light.mtn It’s a Breeze
                ol.list--unstyled.align--center.gl-thirds.gm-thirds.gs-halves
                    li.prop__link.lato-bold Paste in a podcast episode’s URL
                    li.prop__time.lato-bold Set start and end times
                        b.new-line (max: 10 min.)
                    li.prop__code.lato-bold Drop the embed code onto your&nbsp;site!

    div#create.layer
        div.wrapper
            include partials/_embedForm


    div.layer--light-purple
        div.wrapper
            div.float--center.gl-three-quarters
                p.mtn Some sample Qasts:

                ul
                    li
                        a(href="/?url=http://serialpodcast.org/season-one/2/the-breakup&t=01:14,01:35") <em>Serial</em>’s intro
                    li
                        a(href="/?url=https://www.theincomparable.com/theincomparable/150/index.php&t=52:22,1:02:19") <em>The Incomparable</em>’s pièce de résistance of iTunes reviews
                    li
                        a(href="/?url=http://nightvale.libsyn.com/1-pilot&t=12:20,15:11") The weather in Night Vale
                    li
                        a(href="/?url=http://5by5.tv/hypercritical/18&t=55:09,63:25") John Siracusa talks toaster ovens on <em>Hypercritical</em>

    script(async, defer, src="public/js/home.js")
