!!! 5
//if IE 7
    <html class="no-js lte8 lte7">
//if IE 8
    <html class="no-js lte8">
//[if gt IE 8]><!
html.no-js(lang="en")
    //<![endif]
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script.
            (function( document ) {
                document.documentElement.className = document.documentElement.className.replace(new RegExp('(^|\\b)no-js(\\b|$)', 'gi'), "js");
            }( document ));

        block head
    body
        block body
