form(action="/account/create", method="post")
	label Email
		input(type="email", name="username", placeholder="name@example.com", required)
		small This will be your username.
	label Password
		input(type="password", name="password", required)
	button(type="submit") Sign Up
