legend
	b.secondary-heading.normal-text
		a.icon--plus(href="#sources__target", data-reveal="sources__target")
			| We see more than one audio file
div#sources__target.expand__target
	div.phm
		p.mtn Make sure we got the right one (or make sure you’ve entered the correct page).
		ul.list--unstyled.pbl
			if enclosures.length > 1
				each val, index in enclosures
					- var i = index + 1
					li
						label.radio-label
							if enclosure == val
								input(type="radio", name="src", value="#{i}", checked)
							else
								input(type="radio", name="src", value="#{i}")
							b #{val}
			else
				li(data-id="sources")
					label.radio-label
						input(data-id="source_input", type="radio", name="src")
						b(data-id="source_label")