legend
	b.secondary-heading.normal-text
		a.icon--plus(href="#no-feeds__target", data-reveal="no-feeds__target")
			| We couldn’t find any RSS feeds
			b.is-hidden Learn more.
div.expand__target#no-feeds__target
	div.phm
		p.mtn.pbm Qast looks for feeds primarily to get the podcast’s artwork. (We recommend podcasters follow <a href="http://www.rssboard.org/rss-autodiscovery#element-link">the RSS convention</a> of placing a <code>&lt;link&gt;</code> tag for their feed in the page’s <code>&lt;head&gt;</code>).