legend
	b.secondary-heading.normal-text
		a.icon--plus(href="#feeds__target", data-reveal="feeds__target")
			| We found more than one RSS feed for this podcast.
			b.is-hidden Which one do you want to use?
div.expand__target#feeds__target
	div.phm
		ul.list--unstyled.mtn
			if feeds.length > 1
				each val, index in feeds
					- var i = index + 1
					li
						label.radio-label
							if feed == val
								input(type="radio", name="feed", value="#{i}", checked)
							else
								input(type="radio", name="feed", value="#{i}")
							b #{val}
			else
				li(data-id="feeds")
					label.radio-label
						input(data-id="feed_input", type="radio", name="feed")
						b(data-id="feed_label")
		p.petite-text.pbl The feed is used primarily to get the podcast’s artwork.