
form#embed-form.mtn.embed-form.float--center.gl-three-quarters(action="/#create", method="get")
	label.attached-label
		small.label URL
		input#url.url(type="url", name="url", placeholder="http://podcast.com/episode/1", required, value="#{url}")
	div
		div.group
			div.gcl-half.gcm-half.phn
				label.attached-label
					small.label Start
					input#start.url(type="text", name="start", value="#{startText}")
			div.gcl-half.gcm-half.phn
				label.attached-label.bordered
					small.label End
					input#end.url(type="text", name="end", value="#{endText}")
	div#slider
	div.group
		fieldset#feeds.pvn.embed-extras.gcl-full
			if feed == false && soundcloud === false
				include _embedNoFeeds
			else if feeds.length > 1
				include _embedMultipleFeeds
		fieldset#sources.pvn.embed-extras.gcl-full
			if enclosures.length > 1
				include _embedMultipleSources
	button#submit.btn--large.btn--primary.btn--full-width.mtn(type="submit") Generate My Snippet!

if html
	div.float--center.gl-three-quarters.pvl
		div#embed-preview.mtl.embed-preview
			include _frame
		h2.petite-text.secondary-heading.mtm.align--center Preview
else
	div.float--center.gl-three-quarters.pvl
		div#embed-preview.mtl.embed-preview
			//- include _frame
		//- h2.petite-text.secondary-heading.mtm.align--center Preview
if embed
	div.expand__target.is-expanded
		div.float--center.gl-three-quarters
			h2.tertia-text Your Embed Code
			textarea#embed-code.embed-code.mtm #{embed}
	div.float--center.gl-three-quarters
		h2.tertia-text Tweet URL
		textarea https://qast.fm/?url=#{encodedUrl}&src=#{src}&t=#{startText},#{endText}
else
	div.expand__target
		div.float--center.gl-three-quarters
			h2.tertia-text Your Embed Code
			textarea#embed-code.embed-code.mtm

template#template-feeds
	include _embedMultipleFeeds

template#template-no-feeds
	include _embedNoFeeds

template#template-sources
	include _embedMultipleSources

