p.qast-media(data-qast-embed="https://#{domain}/embed?url=#{url}&feed=#{feed}&src=#{src}&t=#{startText},#{endText}", data-qast-version="1")
	a(href="#{url}#t=#{startText},#{endText}", target="_blank") Listen to this clip
	| from "#{title}" (#{startText}-#{endText}).
