iframe(src="//#{domain}/embed?url=#{url}&feed=#{feed}&src=#{src}&t=#{startText},#{endText}", frameborder="0", style="width: 100%; display: block; padding: 0; border: none; height: 80px; max-width: 600px; margin-right: auto; margin-left: auto; box-shadow: 0 1px 3px rgba(0,0,0,0.15);")
	a(href="#{url}#t=#{startText},#{endText}") Listen to this clip
	| from "#{title}" (#{startText}-#{endText}).