form(action="/login", method="post")
	label Username
		input(type="email", name="username", placeholder="name@example.com", required)
	label Password
		input(type="password", name="password", required)
	button(type="submit") Log In
