.player__image
    position            absolute
    left                10px
    top                 (19 / 16)em
    width               $image-size
    height              $image-size
    background          $light-purple
    margin-top          ($image-size / -2)
    
    &,
    a,
    img
        overflow        hidden
        border-radius   (3 / 16)em

    a
        display         block

        &:hover,
        &:focus
            img
                opacity 0.75

    img 
        width           100%
        max-width       100%
        display         block
        height          auto
        opacity         0
        transition      opacity 0.2s $easeOutCirc
    
        .has-image &
            opacity     1
