*,
*:before,
*:after
    box-sizing border-box

html
    font-size 100%
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%

html,
body
    margin 0
    padding 0

// html
//     padding 10px

// body
//     margin  40px 4%


b,
strong
    font-weight 400

audio:not([controls])
    display none
    height 0

button
    width auto
    height auto
    margin 0
    padding 0
    font-size 100%
    line-height normal
    text-align center
    text-decoration none
    position relative
    -webkit-appearance none
    -webkit-background-clip padding
    -moz-background-clip padding
    background-clip padding-box
    outline 0
    overflow visible
    cursor pointer
    vertical-align middle
    display inline-block
    text-align center 
    border none
    border-radius 0

    &[disabled]
        cursor default

    &::-moz-focus-inner
        border 0
        padding 0