/*

Typographic Scale

The building blocks for the site's type sizes. Almost exclusively, an element's 
font size is assigned with one of these classes. If a new size is needed, a new 
class is created here so it can be used and reused elsewhere.

The list of type sizes can grow or shrink, but be vigilant in keeping the 
number of sizes to a minimum. A nice rule of thumb is that no two sizes can one 
pixel in difference (forcing you to choose one over the other, giving you one 
class where you previously had two).

````typographic-scale
<p class="canon-text">Canon Text (38px)</p>
<p class="paragon-text">Paragon Text (30px)</p>
<p class="primer-text">Primer Text (24px)</p>
<p class="tertia-text">Tertia Text (18px)</p>
<p class="normal-text">Normal Text (14px)</p>
<p class="petite-text">Petite Text (12px)</p>
````

*/

/*

Canon Text

*/

.inch-text {

    // Mixins
    .type-size(@inch-text-size);
}

.canon-text {

    // Mixins
    .type-size(@canon-text-size, 45);
}

/*

Paragon Text

*/

.paragon-text {

    // Mixins
    .type-size(@paragon-text-size, 35);
}

/*

Primer Text

*/

[class*="primer-text"] {

    // Mixins
    .type-size(@primer-text-size, 30);
}

/*

Tertia Text

*/

[class*="tertia-text"] {

    // Mixins
    .type-size(@tertia-text-size, 25);
}

/*

Normal Text

*/

[class*="normal-text"] {

    // Mixins
    .type-size(@normal-text-size);
}

/*

Petite Text

*/

[class*="petite-text"] {

    // Mixins
    .type-size(@petite-text-size);
}

/*

Long Modifiers

The smaller type sizes are given the `--long` modifier, allowing you to use
each type size with varying line heights.

    <p class="petite-text">I'm just a small bit of text, my `line-height` 
    can be tight.</p>

    <p class="petite-text--long">I'm a long paragraph, so my `line-height` 
    should be longer to enhance legibility. ... </p>

*/

.primer-text--long,
.tertia-text--long,
.normal-text--long,
.petite-text--long {
    line-height: 1.5;
}
