extends ../foundation
block content

	include partials/_showBanner

	article
		h2 #{episode.title}
		p #{episode.description}
		audio(preload="auto", controls, autobuffer)
			source(src="#{episode.enclosure[0].$.url}")
			a(href="#{episode.enclosure[0].$.url}") Download this episode
