extends ../foundation
block content

	include ../partials/_showBanner

	each episode in episodes
		article
			h2 #{episode.title}
			div.body-text !{episode.description}
			a(href="#{episode.enclosure[0].$.url}") Play Episode
