
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Episode",
        "name": "Force Denier",
        "episodeNumber": "237",
        "datePublished": "2015-03-06",
        "duration": "T1H34M",
        "image": "http://www.theincomparable.com/imgs/design/logo-theincomparable.jpg",
        "partOfSeries": {
            "@type": "Series",
            "name": "The Incomparable",
            "url": "https://www.theincomparable.com"
        },
        "author": {
            "@type": "Person",
            "name": "Jason Snell",
            "url": "https://www.theincomparable.com/person/jason-snell/index.php"
        },
        "audio": {
            "@type": "AudioObject",
            "contentUrl": "http://traffic.libsyn.com/incomparable/theincomparable237.mp3"
        }
    }
</script>

<article itemscope itemtype="http://schema.org/Episode">
    <h1>
        <span itemprop="episodeNumber">123</span>:
        <span itemprop="name">This is a Podcast Episode</span>
    </h1>

    <span itemprop="partOfSeries" itemscope itemtype="">
        <a href="#" itemprop="url">
            <span itemprop="name">Old Movie Club</span>
        </a>
    </span>
    •
    <time datetime="2015-02-21" itemprop="datePublished">February 21, 2015</time>
    •
    <time itemprop="duration" datetime="T1H34M">1 hour, 34 minutes</time>
    <span itemprop="author" itemscrop itemtype="">
        <a href="#" itemprop="url">
            <span itemprop="name">Jason Snell</span>
        </a>
    </span> with Philip Michaels, Steve Lutz, Monty Ashley, Dan Moren, David J. Loehr and Andy Ihnatko
    <div itemprop="audio" itemscope itemtype="http://schema.org/AudioObject">
        <a href="http://cdn.podcast.com/episodes/123-this-is-a-podcast-episode.mp3">Download (43 M)</a>
    </div>
</article>